<!-- Extends from base.html -->
{% extends 'base.html' %} {% block title %}Coded Together Home{% endblock title
%} {%block content %}


<br />

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>My projects</h2>
      <div class="card text-center">
        {% for project in user.project_owned %}
        <div class="card-body">
          <h5 class="card-title">{{ project.name}}</h5>
          <p class="card-text">{{ project.description}}</p>
          <form method = "POST" action="/delete_project"><input name="project_id" value="{{ project.id }}" type ="hidden" />
            <button type="submit" class="btn btn btn-outline-danger btn-sm" >Delete</button>
        </form>
        </div>
        <div class="card-footer text-muted">
          {{project.date}}
        </div>
        {% endfor%} 
      </div>
    </div>
    
    <div class="text-center col-sm-4">
      <h2>Post a Project</h2>
      <br />
      <div class="mb-3">
            <form method="POST" action="/">
          <textarea
            name="project_title"
            id="project_title"
            class="form-control"
            rows="1"
            placeholder="Enter your project title"
          ></textarea>
          <br />
          <textarea
            name="project_details"
            id="project_details"
            class="form-control"
            rows="3"
            placeholder="Enter project details"
          ></textarea>
        </div>
        <br />
        <div align="center">
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      </form>
    </div>

</div>
</div>
      <h2>Projects Community</h2>
        {% for project in all_projects%}
        <div class="card text-center">
          <div class="card-header">
            {{ project.name}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ project.name}}</h5>
            <p class="card-text">{{ project.description}}</p>
            <form method = "POST" action="/join_project"><input name="project_id" value="{{ project.id }}" type ="hidden" />
              <button type="submit" class="btn btn btn-outline-success btn-sm mb-2" >Join</button>
            </form>
          </div>
          <div class="card-footer text-muted">
            {{project.date}}
          </div>
          <div>
            {% for member in project.members%}
            <span class="badge text-bg-primary m-2">{{member.first_name}}</span>
            {% endfor %}
          </div>
        </div>
        <div>

        </div>
        <div class = "container text-center pt-3">
          <div class = "row">
  
    </div>
    </div>
        {% endfor%}

  

{% endblock %}
